body {
    background-color: #EAE7DC;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    max-width: 1400px;
    margin: auto;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
    margin: auto;
}

p {
    font-size: 1.2em;
    color: #111;
}

h2 {
    color: #e98074
}

form {
    font-size: 1.3em;
}

/* nav styles */
nav>a:link, nav>a:visited, nav>a:active {
    background-color: #e98074;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    min-width: 10em;
}

nav>a:hover{
    border: black 1px solid;
    margin: 4px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: -1em;
    background-color: #D8c3A5;
}
/* Begin Button Styling */
.btn {
    background-color: #e98074 ;
    text-align: center;
    color: white;
    padding: 16px 5px;
    white-space: nowrap;
    overflow: hidden;
    min-width: 10em;
    margin: .1em;
}

section > a, section > a:hover{
    text-decoration: none;
}

.btn:hover {
    background-color: #476970;
    text-decoration: none;
}

/* styles content break */
hr { 
    height: 1px;
    border: 0; 
    border-top: 1px solid #E85A4F;
    margin: 1em 0; 
    padding: 0;
    width: 100%;
}

/* Page Title style */
.pageHeader {
    font-size: 2.5em;
    overflow: visible;
    justify-content: center;
    margin: 1vh;
    color: #E85A4F;
}
.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

#greeting {
    text-align: center;
}
/* FOOTER STYLES */
footer {
    display: flex;
    justify-content: center;
    margin-top: -1.1em;
    background-color: #D8c3A5;
    padding: 1em;
}

footer > a {
    padding: 0em .5em;
    color: #111;
}